.container {
  margin: 0 auto;
  max-width: 800px;
  width: 80%;
}

main,
footer,
.nav-container {
  display: block;
  margin: 0 auto;
  max-width: 800px;
  width: 80%;
}

.nav {
  // box-shadow: 0 2px 2px -2px $shadow-color;
  overflow: auto;
  background-color: #1a2233;

  &-container {
    margin: 1rem auto;
    position: relative;
    text-align: center;
  }

  &-title {
    @include transition(all .2s ease-out);
    color: $default-color-top;
    display: inline-block;
    margin: 0;
    padding-right: .2rem;

    &:hover,
    &:focus {
      opacity: .5;
    }
  }

  ul {
    list-style-type: none;
    margin: 1rem 0 0;
    padding: 0;
    text-align: center;
  }

  li {
    @include transition(all .2s ease-out);
    color: $default-color;
    display: inline-block;
    opacity: .7;
    padding: 0 2rem 0 0;
    font-weight: bold;

    &:last-child {
      padding-right: 0;
    }

    &:hover,
    &:focus {
      opacity: 1;
    }
  }

  a {
    color: $default-color-top;
    font-family: $sans-serif;
  }
}

@media (min-width: 600px) {
  .nav {
    &-container {
      text-align: left;
    }

    ul {
      bottom: 0;
      position: absolute;
      right: 0;
    }
  }
}

footer {
  font-family: $serif-secondary;
  padding: 2rem 0;
  text-align: center;

  span {
    color: $default-color;
    font-size: .8rem;
  }
}

.comb {
  margin: 0 auto;
  max-width: 774px;
  max-height: 118px;
  // border: 1px solid silver;

  &-banner {
    max-height: 120px;
	  margin-right: auto;
	  margin-left: auto;
  }
}

.wak {
  margin: 0 auto;
  max-width: 800px;
  max-height: 102px;
  border: 1px solid silver;

  &-banner {
    max-height: 100px;
	  margin-right: auto;
	  margin-left: auto;
  }
}

.wak-image {
  max-height: 80px;
}

.commit-banner {
  text-align: center;
}

@media screen and (min-width: 800px) {
  .top-banner {
    margin: 0 auto;
    max-width: 800px;
    width: 100%;
    height: 250px;
    background: url("/assets/images/final_port.png");
    background-position: right bottom;
    background-repeat: no-repeat;
    background-size: 265px 253px;

    &-title {
      @include transition(all .2s ease-out);
      color: $default-color-top;
      display: inline-block;
      margin: 0 auto;
      padding-right: .2rem;
      padding-top: 4rem;
      // font-family: $ko-serif;
      font-size: 1.8rem;
      text-align: center;
    }

    &-subtitle {
      @include transition(all .2s ease-out);
      color: $default-color-top;
      display: inline-block;
      margin: 0 auto;
      padding-right: .2rem;
      padding-top: 4rem;
      font-size: 1rem;
      text-align: center;
    }
  }

  .wrapper         {width:80%;height:100%;margin:0;background:#fff}
  .h_iframe        {position:relative;}
  .h_iframe .ratio {display:block;width:100%;height:auto;}
  .h_iframe iframe {position:absolute;top:0;left:0;width:100%;height:100%;}

  .button {
    backface-visibility: hidden;
    position: relative;
    width: 145px;
    cursor: pointer;
    display: inline-block;
    white-space: nowrap;
    background: #759fc2;
    border-radius: 3px;
    border: 0px solid #444;
    border-width: 0px 0px 0px 0px;
    padding: 10px 15px 10px 41px;
    margin: 6px 3px;
    box-shadow: 0px 2px 0px #25a;
    color: #fff;
    font-size: 16px;
    font-family: Helvetica Neue;
    font-weight: 900;
    font-style: normal;
    text-shadow: 0px -1px 0px rgba(0,0,0,0.3)
  }
  .button > div {
    color: #999;
    font-size: 10px;
    font-family: Helvetica Neue;
    font-weight: initial;
    font-style: normal;
    text-align: center;
    margin: 0px 0px 0px 0px
  }
  .button > i {
    font-size: 1.2em;
    background: rgba(0,0,0,0.2);
    border-radius: 0px;
    border: 0px solid transparent;
    border-width: 0px 0px 0px 0px;
    padding: 14px 7px 14px 7px;
    margin: 0px 0px 0px 0px;
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    width: 42px
  }
  .button > .ld {
    font-size: initial
  }
  .button > a {
    color: white;
    padding: 14px 7px 14px 7px;
  }
  .button.orange {
    background: #e37900;
  }

  .sub-title {
    padding: 0;
    margin-top: 1px;
    color: $default-color-top;
  }
}

@media screen and (min-width: 520px) and (max-width: 800px) {
  .top-banner {
    margin: 0 auto;
    max-width: 700px;
    width: 100%;
    height: 250px;
    background: url("/assets/images/final_port.png");
    background-position: right bottom;
    background-repeat: no-repeat;
    background-size: 265px 253px;

    &-title {
      @include transition(all .2s ease-out);
      color: $default-color-top;
      display: inline-block;
      margin: 0 auto;
      padding-right: .2rem;
      padding-left: 2rem;
      padding-top: 4rem;
      // font-family: $ko-serif;
      font-size: 1.8rem;
      text-align: center;
    }

    &-subtitle {
      @include transition(all .2s ease-out);
      color: $default-color-top;
      display: inline-block;
      margin: 0 auto;
      padding-right: .2rem;
      padding-top: 4rem;
      font-size: 1rem;
      text-align: center;
    }
  }

  .wrapper         {width:80%;height:100%;margin:0;background:#fff}
  .h_iframe        {position:relative;}
  .h_iframe .ratio {display:block;width:100%;height:auto;}
  .h_iframe iframe {position:absolute;top:0;left:0;width:100%;height:100%;}

  .button {
    backface-visibility: hidden;
    position: relative;
    width: 136px;
    cursor: pointer;
    display: inline-block;
    white-space: nowrap;
    background: #759fc2;
    border-radius: 3px;
    border: 0px solid #444;
    border-width: 0px 0px 0px 0px;
    padding: 10px 15px 10px 48px;
    margin: 10px;
    box-shadow: 0px 2px 0px #25a;
    color: #fff;
    font-size: 16px;
    font-family: Helvetica Neue;
    font-weight: 900;
    font-style: normal;
    text-shadow: 0px -1px 0px rgba(0,0,0,0.3)
  }
  .button > div {
    color: #999;
    font-size: 10px;
    font-family: Helvetica Neue;
    font-weight: initial;
    font-style: normal;
    text-align: center;
    margin: 0px 0px 0px 0px
  }
  .button > i {
    font-size: 1.2em;
    background: rgba(0,0,0,0.2);
    border-radius: 0px;
    border: 0px solid transparent;
    border-width: 0px 0px 0px 0px;
    padding: 14px 7px 14px 7px;
    margin: 0px 0px 0px 0px;
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    width: 42px
  }
  .button > .ld {
    font-size: initial
  }
  .button > a {
    color: white;
    padding: 14px 7px 14px 7px;
  }
  .button.orange {
    background: #e37900;
  }

  .sub-title {
    padding-left: 2rem;
    margin-top: 1px;
    color: $default-color-top;
  }
}

@media screen and (min-width: 321px) and (max-width: 520px) {
  .top-banner {
    margin: 0 auto;
    max-width: 800px;
    // width: 80%;
    height: 250px;
    background: url("/assets/images/final_port.png");
    background-position: right bottom;
    background-repeat: no-repeat;
    background-size: 259px 253px;

    &-title {
      @include transition(all .2s ease-out);
      color: $default-color-top;
      // display: inline-block;
      margin: 0 auto;
      padding-right: .2rem;
      padding-top: 12rem;
      // font-family: $ko-serif;
      font-size: 1.8rem;
      text-align: center;
    }
  }

  .wrapper         {width:100%;height:100%;margin:0;background:#fff}
  .h_iframe        {position:relative;}
  .h_iframe .ratio {display:block;width:100%;height:auto;}
  .h_iframe iframe {position:absolute;top:0;left:0;width:100%;height:100%;}

  .button {
    backface-visibility: hidden;
    position: relative;
    width: 130px;
    cursor: pointer;
    display: inline-block;
    white-space: nowrap;
    background: #759fc2;
    border-radius: 3px;
    border: 0px solid #444;
    border-width: 0px 0px 0px 0px;
    padding: 10px 15px 10px 41px;
    margin: 5px;
    box-shadow: 0px 2px 0px #25a;
    color: #fff;
    font-size: 16px;
    font-family: Helvetica Neue;
    font-weight: 900;
    font-style: normal;
    text-shadow: 0px -1px 0px rgba(0,0,0,0.3)
  }
  .button > div {
    color: #999;
    font-size: 10px;
    font-family: Helvetica Neue;
    font-weight: initial;
    font-style: normal;
    text-align: center;
    margin: 0px 0px 0px 0px
  }
  .button > i {
    font-size: 1.2em;
    background: rgba(0,0,0,0.2);
    border-radius: 0px;
    border: 0px solid transparent;
    border-width: 0px 0px 0px 0px;
    padding: 14px 7px 14px 7px;
    margin: 0px 0px 0px 0px;
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    width: 42px
  }
  .button > .ld {
    font-size: initial
  }
  .button > a {
    color: white;
    padding: 14px 7px 14px 7px;
  }
  .button.orange {
    background: #e37900;
  }

  .sub-title {
    padding: 0;
    margin-top: 0px;
    color: $default-color-top;
    text-align: center;
  }
}

@media screen and (max-width: 320px) {
  .top-banner {
    margin: 0 auto;
    max-width: 800px;
    // width: 80%;
    height: 100px;
    // background: url("/assets/images/main-image4.png");
    background-position: right bottom;
    background-repeat: no-repeat;
    background-size: 488px 253px;

    &-title {
      @include transition(all .2s ease-out);
      color: $default-color-top;
      // display: inline-block;
      margin: 0 auto;
      // padding-right: .2rem;
      padding-top: 2rem;
      // font-family: $ko-serif;
      font-size: 1.8rem;
      text-align: center;
    }
  }

  .wrapper         {width:100%;height:100%;margin:0;background:#fff}
  .h_iframe        {position:relative;}
  .h_iframe .ratio {display:block;width:100%;height:auto;}
  .h_iframe iframe {position:absolute;top:0;left:0;width:100%;height:100%;}

  .button {
    backface-visibility: hidden;
    position: relative;
    width: 180px;
    cursor: pointer;
    display: inline-block;
    white-space: nowrap;
    background: #759fc2;
    border-radius: 3px;
    border: 0px solid #444;
    border-width: 0px 0px 0px 0px;
    padding: 10px 15px 10px 41px;
    margin: 3px;
    box-shadow: 0px 2px 0px #25a;
    color: #fff;
    font-size: 16px;
    font-family: Helvetica Neue;
    font-weight: 900;
    font-style: normal;
    text-shadow: 0px -1px 0px rgba(0,0,0,0.3)
  }
  .button > div {
    color: #999;
    font-size: 10px;
    font-family: Helvetica Neue;
    font-weight: initial;
    font-style: normal;
    text-align: center;
    margin: 0px 0px 0px 0px
  }
  .button > i {
    font-size: 1.2em;
    background: rgba(0,0,0,0.2);
    border-radius: 0px;
    border: 0px solid transparent;
    border-width: 0px 0px 0px 0px;
    padding: 14px 7px 14px 7px;
    margin: 0px 0px 0px 0px;
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    width: 42px
  }
  .button > .ld {
    font-size: initial
  }
  .button > a {
    color: white;
    padding: 14px 7px 14px 7px;
  }
  .button.orange {
    background: #e37900;
  }

  .sub-title {
    padding: 0;
    margin-top: 0px;
    color: $default-color-top;
    text-align: center;
  }
}



/*
 * jQuery FlexSlider v2.7.0
 * http://www.woothemes.com/flexslider/
 *
 * Copyright 2012 WooThemes
 * Free to use under the GPLv2 and later license.
 * http://www.gnu.org/licenses/gpl-2.0.html
 *
 * Contributing author: Tyler Smith (@mbmufffin)
 *
 */
/* ====================================================================================================================
 * FONT-FACE
 * ====================================================================================================================*/
@font-face {
  font-family: 'flexslider-icon';
  src: url('/assets/fonts/flexslider-icon.eot');
  src: url('/assets/fonts/flexslider-icon.eot?#iefix') format('embedded-opentype'), url('fonts/flexslider-icon.woff') format('woff'), url('fonts/flexslider-icon.ttf') format('truetype'), url('fonts/flexslider-icon.svg#flexslider-icon') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* ====================================================================================================================
 * RESETS
 * ====================================================================================================================*/
.flex-container a:hover,
.flex-slider a:hover {
  outline: none;
}
.slides,
.slides > li,
.flex-control-nav,
.flex-direction-nav {
  margin: 0;
  padding: 0;
  list-style: none;
}
.flex-pauseplay span {
  text-transform: capitalize;
}
/* ====================================================================================================================
 * BASE STYLES
 * ====================================================================================================================*/
.flexslider {
  margin: 0;
  padding: 0;
}
.flexslider .slides > li {
  display: none;
  -webkit-backface-visibility: hidden;
}
.flexslider .slides img {
  width: 100%;
  display: block;
}
.flexslider .slides:after {
  content: "\0020";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
html[xmlns] .flexslider .slides {
  display: block;
}
* html .flexslider .slides {
  height: 1%;
}
.no-js .flexslider .slides > li:first-child {
  display: block;
}
/* ====================================================================================================================
 * DEFAULT THEME
 * ====================================================================================================================*/
.flexslider {
  margin: 0 0 60px;
  background: #fff;
  border: 4px solid #fff;
  position: relative;
  zoom: 1;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: '' 0 1px 4px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: '' 0 1px 4px rgba(0, 0, 0, 0.2);
  -o-box-shadow: '' 0 1px 4px rgba(0, 0, 0, 0.2);
  box-shadow: '' 0 1px 4px rgba(0, 0, 0, 0.2);
}
.flexslider .slides {
  zoom: 1;
}
.flexslider .slides img {
  height: auto;
  -moz-user-select: none;
}
.flex-viewport {
  max-height: 2000px;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}
.loading .flex-viewport {
  max-height: 300px;
}
.carousel li {
  margin-right: 5px;
}
.flex-direction-nav {
  *height: 0;
}
.flex-direction-nav a {
  text-decoration: none;
  display: block;
  width: 40px;
  height: 50px;
  margin: -20px 0 0;
  position: absolute;
  top: 50%;
  z-index: 10;
  overflow: hidden;
  opacity: 0;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.8);
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.3);
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.flex-direction-nav a:before {
  font-family: "flexslider-icon";
  font-size: 40px;
  display: inline-block;
  content: '\f001';
  color: rgba(0, 0, 0, 0.8);
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.3);
}
.flex-direction-nav a.flex-next:before {
  content: '\f002';
}
.flex-direction-nav .flex-prev {
  left: -50px;
}
.flex-direction-nav .flex-next {
  right: -50px;
  text-align: right;
}
.flexslider:hover .flex-direction-nav .flex-prev {
  opacity: 0.7;
  left: 10px;
}
.flexslider:hover .flex-direction-nav .flex-prev:hover {
  opacity: 1;
}
.flexslider:hover .flex-direction-nav .flex-next {
  opacity: 0.7;
  right: 10px;
}
.flexslider:hover .flex-direction-nav .flex-next:hover {
  opacity: 1;
}
.flex-direction-nav .flex-disabled {
  opacity: 0!important;
  filter: alpha(opacity=0);
  cursor: default;
  z-index: -1;
}
.flex-pauseplay a {
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  bottom: 5px;
  left: 10px;
  opacity: 0.8;
  z-index: 10;
  overflow: hidden;
  cursor: pointer;
  color: #000;
}
.flex-pauseplay a:before {
  font-family: "flexslider-icon";
  font-size: 20px;
  display: inline-block;
  content: '\f004';
}
.flex-pauseplay a:hover {
  opacity: 1;
}
.flex-pauseplay a.flex-play:before {
  content: '\f003';
}
.flex-control-nav {
  width: 100%;
  position: absolute;
  bottom: -40px;
  text-align: center;
}
.flex-control-nav li {
  margin: 0 6px;
  display: inline-block;
  zoom: 1;
  *display: inline;
}
.flex-control-paging li a {
  width: 11px;
  height: 11px;
  display: block;
  background: #666;
  background: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  text-indent: -9999px;
  -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
  -o-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
}
.flex-control-paging li a:hover {
  background: #333;
  background: rgba(0, 0, 0, 0.7);
}
.flex-control-paging li a.flex-active {
  background: #000;
  background: rgba(0, 0, 0, 0.9);
  cursor: default;
}
.flex-control-thumbs {
  margin: 5px 0 0;
  position: static;
  overflow: hidden;
}
.flex-control-thumbs li {
  width: 25%;
  float: left;
  margin: 0;
}
.flex-control-thumbs img {
  width: 100%;
  height: auto;
  display: block;
  opacity: .7;
  cursor: pointer;
  -moz-user-select: none;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}
.flex-control-thumbs img:hover {
  opacity: 1;
}
.flex-control-thumbs .flex-active {
  opacity: 1;
  cursor: default;
}
/* ====================================================================================================================
 * RESPONSIVE
 * ====================================================================================================================*/
@media screen and (max-width: 860px) {
  .flex-direction-nav .flex-prev {
    opacity: 1;
    left: 10px;
  }
  .flex-direction-nav .flex-next {
    opacity: 1;
    right: 10px;
  }
}
