<!DOCTYPE html>
<html lang="ko">

  {% include head.html %}
  {% include google_analytics.html %}

  <body>
    <nav class="nav">
      <div class="nav-container">
        <a href="{{ site.baseurl }}/">
          <h2 class="nav-title"><i class="fa fa-power-off" aria-hidden="true"></i> {{ site.title }}</h2>
        </a>
        <ul>
          <li><a href="{{ site.baseurl }}/">첫화면</a></li>
          <li><a href="{{ '/commitment' | prepend: site.baseurl }}">공약</a></li>
          <li><a href="{{ '/communication' | prepend: site.baseurl }}">소통</a></li>
          <li><a href="{{ '/activity' | prepend: site.baseurl }}">활동</a></li>
          <li><a href="{{ '/about' | prepend: site.baseurl }}">이우일은</a></li>
          <!-- <li>|</li> -->
          <li><a href="{{ '/public-talk' | prepend: site.baseurl }}">왁자지껄</a></li>
        </ul>
      </div>
      <div class="top-banner">
      <h2 class="top-banner-title">건강한 지식생태계</h2><h4 class="sub-title">총장후보 이 우 일</h4><br />
      </div>
    </nav>

    <main>
      {{ content }}
    </main>

    <footer>
      <span>
        &copy; <time datetime="{{ site.time }}">{{ site.time | date: '%Y' }}</time> Wooil Lee. Seoul National University.
      </span>
    </footer>
  </body>
</html>
