<!DOCTYPE html>
<html lang="ko">

  {% include head.html %}
  {% include google_analytics.html %}

  <body>
    <nav class="nav">
      <div class="nav-container">
        <a href="{{ site.baseurl }}/">
          <h2 class="nav-title">{{ site.title }}<h4 class="sub-title">서울대, 새로운 시작</h4></h2>
        </a>
        <ul>
          <li><a href="{{ site.baseurl }}/">첫화면</a></li>
          <li><a href="{{ '/commitment' | prepend: site.baseurl }}">공약</a></li>
          <li><a href="{{ '/opinion' | prepend: site.baseurl }}">기고</a></li>
          <li><a href="{{ '/thought' | prepend: site.baseurl }}">생각/활동</a></li>
          <li><a href="{{ '/about' | prepend: site.baseurl }}">이우일은</a></li>
          <!-- <li>|</li> -->
          <li><a href="{{ '/public-talk' | prepend: site.baseurl }}">왁자지껄</a></li>
        </ul>
      </div>
      <div class="top-banner">
      <h2 class="top-banner-title">	&ldquo;학문의 오케스트라 SNU,<br/>진리의 빛을 함께 연주합시다.&rdquo;</h2>
      </div>
    </nav>

    <main>
      {{ content }}
    </main>

    <footer>
      <span>
        &copy; <time datetime="{{ site.time }}">{{ site.time | date: '%Y' }}</time> Wooil Lee. Seoul National University.
      </span>
    </footer>
  </body>
</html>
