<!DOCTYPE html>
<html class="no-js">

  {% include head.html %}
  {% include google_analytics.html %}

  <body class="{% if page.bodyclass %}{{ page.bodyclass }}{% endif %}">
    {% include nav-no-js.html %}
    {{ content }}

    <script src='{{ "/js/vendor/modernizr.custom.32229-2.8-respondjs-1-4-2.js" | prepend: site.baseurl }}'></script>
    <script src="{{'/js/vendor/jquery-1.11.2.min.js' | prepend: site.baseurl }}"></script>
    <script src='{{ "/js/vendor/jquery.jpanelmenu.min.js" | prepend: site.baseurl }}'></script>
    <script type='application/javascript' src='{{ "/js/vendor/fastclick.min.js" | prepend: site.baseurl }}'></script>
    {% if enable_retina %}
    <script type='application/javascript' src='{{ "/js/vendor/retina.min.js" | prepend: site.baseurl }}'></script>
    {% endif %}
    <script src=' {{ "/js/main.js" | prepend: site.baseurl }}'></script>

    <!-- Google CDN Hosted jQuery  -->
    <!-- <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script> -->
    <!-- Flexslider Library  -->
    <script src="/js/vendor/jquery.flexslider-min.js"></script>
    <!-- Initialisation Code  -->
    <script src="/js/vendor/app.js"></script>

  </body>

</html>
