<!DOCTYPE html>
<html lang="en">

  {% include head.html %}
  {% include google_analytics.html %}

  <body>
    <nav class="nav">
      <div class="nav-container">
        <a href="{{ site.baseurl }}/">
          <h2 class="nav-title">{{ site.title }}</h2>
        </a>
        <ul>
          <li><a href="{{ site.baseurl }}/">첫화면</a></li>
          <li><a href="{{ '/commitment' | prepend: site.baseurl }}">공약</a></li>
          <li><a href="{{ '/opinion' | prepend: site.baseurl }}">기고</a></li>
          <li><a href="{{ '/thought' | prepend: site.baseurl }}">이우일의 생각</a></li>
          <li><a href="{{ '/public-talk' | prepend: site.baseurl }}">왁자지껄</a></li>
          <li><a href="{{ '/about' | prepend: site.baseurl }}">이우일은..?</a></li>
        </ul>
      </div>
    </nav>

    <main>
      {{ content }}
    </main>

    <footer>
      <span>
        &copy; <time datetime="{{ site.time }}">{{ site.time | date: '%Y' }}</time> Wooil Lee. Seoul National University.
      </span>
    </footer>
  </body>
</html>
