---
layout: with-sidebar
---
<section class="row">
    <div class="col-sm-12">
        <h2 class="favorites">Recent posts</h2>
    </div>

    {% for post in site.posts %}
    {% if forloop.index <= 4 %} <article class="post-favorite col-xs-12 col-sm-6 ">
        <h2><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h2>

        {{ post.excerpt | truncatewords: 18 }}
        </article>
        <!-- wrap first two posts into their own row and start a new row for post 3 & 4 -->
        {% if forloop.index == 2 %}
</section><!-- end recent posts -->

<section class="row">
    <!-- start new row -->
    {% endif %}
    {% endif %}
    {% endfor %}

</section><!-- end fav posts -->

<a class="btn btn-primary" href="/posts"><i class="fa fa-plus-circle"></i>&nbsp;&nbsp;&nbsp;더보기...</a>

<br />
<br />

<section class="row favorite-categories animated fadeIn">
    <div class="col-sm-12">
        <h2 class="favorites">발전계획서<h2>
    </div>

    <div class="category-preview col-xs-6 col-sm-4 ">
        <a href='/devplan'><h2>발전계획서</h2>
        <img src='/img/snugate-bg.jpg' alt="snu-gate"></a>
    </div>

    <div class="category-preview col-xs-6 col-sm-4 ">
        <a href='/education'><h2>교육</h2>
        <img src='/img/education-bg.jpg' alt="Education"></a>
    </div>

    <div class="category-preview col-xs-6 col-sm-4 ">
        <a href='/research'><h2>연구</h2>
        <img src='/img/research-bg.jpg' alt="research"></a>
    </div>

    <div class="category-preview col-xs-6 col-sm-4 ">
        <a href='/global'><h2>글로벌</h2>
        <img src='/img/global-bg.jpg' alt="global"></a>
    </div>

    <div class="category-preview col-xs-6 col-sm-4 ">
        <a href='/governance'><h2>거버넌스</h2>
        <img src='/img/governance-bg.jpg' alt="governance"></a>
    </div>

    <div class="category-preview col-xs-6 col-sm-4 ">
        <a href='/multi-campus'><h2>멀티캠퍼스</h2>
        <img src='/img/campus-bg.jpg' alt="campus"></a>
    </div>

    <div class="category-preview col-xs-6 col-sm-4 ">
        <a href='/life'><h2>복지</h2>
        <img src='/img/life-bg.jpg' alt="life"></a>
    </div>

    <div class="category-preview col-xs-6 col-sm-4 ">
        <a href='/finance'><h2>재정</h2>
        <img src='/img/finance-bg.jpg' alt="finance"></a>
    </div>

    <div class="category-preview col-xs-6 col-sm-4 ">
        <a href='/statement'><h2>소견서</h2>
        <img src='/img/wooil-sm-bg.jpg' alt="wooil"></a>
    </div>

    <!-- {% for category in site.categories %}
    {% if forloop.index <= 3 %} <div class="category-preview col-xs-6 col-sm-4 ">
        <h2>{{ category | first | capitalize }}</h2>
        <a href='{{ "/category/" | append: category.first | prepend: site.baseurl }}'><img src='{{ "/img/" | append: category.first | prepend: site.baseurl }}-thumbnail.jpg'
                alt="category-image"></a>
        </div>
        {% endif %}
        {% endfor %} -->

</section>
<br />
<a class="btn btn-primary" href="/doc/snu-devplan-kr.pdf"><i class="fa fa-download"></i>&nbsp;&nbsp;&nbsp;발전계획서 다운로드</a>
<br />
<br />
