---
layout: default
---
<br />
<div class="commit-banner">
  <!-- <div class="comb">
    <a href="/2018-03-27/서울대학교-발전계획서"><img src="/assets/images/commitment.png" class="comb-banner" /></a>
  </div> -->
  <div class="button"><a href="/2018-03-22/서울대학교-발전계획서">발전계획서</a>
    <div></div>
    <i class="fa fa-power-off"></i>
  </div>
  <div class="button"><a href="/2018-03-22/01.교육">교육</a>
    <div></div>
    <i class="fa fa-graduation-cap"></i>
  </div>
  <div class="button"><a href="/2018-03-22/02.연구">연구</a>
    <div></div>
    <i class="fa fa-bar-chart"></i>
  </div>
  <div class="button"><a href="/2018-03-22/03.글로벌">글로벌</a>
    <div></div>
    <i class="fa fa-globe"></i>
  </div>
  <div class="button"><a href="/2018-03-22/04.거버넌스">거버넌스</a>
    <div></div>
    <i class="fa fa-sitemap"></i>
  </div>
  <div class="button"><a href="/2018-03-22/05.멀티캠퍼스">멀티캠퍼스</a>
    <div></div>
    <i class="fa fa-university"></i>
  </div>
  <div class="button"><a href="/2018-03-22/06.재정">재정</a>
    <div></div>
    <i class="fa fa-won"></i>
  </div>
  <div class="button"><a href="/2018-03-22/07.복지">복지</a>
    <div></div>
    <i class="fa fa-paper-plane-o"></i>
  </div>
  <div class="button"><a href="/2018-03-22/소견서">소견서</a>
    <div></div>
    <i class="fa fa-commenting-o"></i>
  </div>
  <div class="button orange"><a href="/2018-03-22/내게맞는공약">내게맞는공약</a>
    <div></div>
    <i class="fa fa-list"></i>
  </div>
</div>
<hr />


<div class="catalogue">
  {% for post in paginator.posts %}
    <a href="{{ post.url | prepend: site.baseurl }}" class="catalogue-item">
      <div>
        <time datetime="{{ post.date }}" class="catalogue-time">{{ post.date | date: "%B %d, %Y" }}</time>
        <h1>
          {% if post.categories[0] == "thought" %}
          <i class="fa fa-commenting-o" aria-hidden="true"></i>
          {% elsif post.categories[0] == "opinion" %}
          <i class="fa fa-newspaper-o" aria-hidden="true"></i>
          {% elsif post.categories[0] == "commitment" %}
          <i class="fa fa-power-off" aria-hidden="true"></i>
          {% elsif post.categories[0] == "video" %}
          <i class="fa fa-youtube-play" aria-hidden="true"></i>
          {% elsif post.categories[0] == "communication" %}
          <i class="fa fa-commenting-o" aria-hidden="true"></i>
          {% elsif post.categories[0] == "activity" %}
          <i class="fa fa-newspaper-o" aria-hidden="true"></i>
          {% endif %}
        {{ post.title | replace: "<br>", " " }}
        </h1>
        <div class="catalogue-line"></div>

        <p>
          {{ post.content | truncatewords: 30 | strip_html }}
        </p>

      </div>
    </a>
  {% endfor %}
</div>

<div class="wak">
  <a href="public-talk"><img src="/assets/images/wak6.png" class="wak-banner" /></a>
</div>

<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl }}" class="left arrow">&#8592;</a>
  {% endif %}
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | prepend: site.baseurl }}" class="right arrow">&#8594;</a>
  {% endif %}
  <span>{{ paginator.page }}</span>
</div>
