---
layout: default
comments: true
---
{% if page.categories[0] == "commitment" %}
<br />
<div class="commit-banner">
  <div class="button"><a href="/2018-03-22/서울대학교-발전계획서">발전계획서</a>
    <div></div>
    <i class="fa fa-power-off"></i>
  </div>
  <div class="button"><a href="/2018-03-22/01.교육">교육</a>
    <div></div>
    <i class="fa fa-graduation-cap"></i>
  </div>
  <div class="button"><a href="/2018-03-22/02.연구">연구</a>
    <div></div>
    <i class="fa fa-bar-chart"></i>
  </div>
  <div class="button"><a href="/2018-03-22/03.글로벌">글로벌</a>
    <div></div>
    <i class="fa fa-globe"></i>
  </div>
  <div class="button"><a href="/2018-03-22/04.거버넌스">거버넌스</a>
    <div></div>
    <i class="fa fa-sitemap"></i>
  </div>
  <div class="button"><a href="/2018-03-22/05.멀티캠퍼스">멀티캠퍼스</a>
    <div></div>
    <i class="fa fa-university"></i>
  </div>
  <div class="button"><a href="/2018-03-22/06.재정">재정</a>
    <div></div>
    <i class="fa fa-won"></i>
  </div>
  <div class="button"><a href="/2018-03-22/07.복지">복지</a>
    <div></div>
    <i class="fa fa-paper-plane-o"></i>
  </div>
  <div class="button"><a href="/2018-03-22/소견서">소견서</a>
    <div></div>
    <i class="fa fa-commenting-o"></i>
  </div>
  <div class="button orange"><a href="/2018-03-22/소견서">분류</a>
    <div></div>
    <i class="fa fa-list"></i>
  </div>
</div>
<hr />
{% endif %}

<div class="post">
  <div class="post-info">
    <!-- <span>Written by</span>
    {% if page.author %}
        {{ page.author }}
    {% else %}
        {{ site.author.name }}
    {% endif %} -->

    {% if page.date %}
      <!-- <br> -->
      <!-- <span>on&nbsp;</span> -->
      {% if page.categories[0] == "opinion" %}
      기고
      {% elsif page.categories[0] == "thought" %}
      이우일의 생각
      {% elsif page.categories[0] == "commitment" %}
      공약
      {% elsif page.categories[0] == "video" %}
      비디오
      {% elsif page.categories[0] == "communication" %}
      소통
      {% elsif page.categories[0] == "activity" %}
      활동
      {% endif %} &middot;
      <time datetime="{{ page.date }}">{{ page.date | date: "%B %d, %Y" }}</time>
    {% endif %}
  </div>

  <h1 class="post-title">{{ page.title }}</h1>
  <div class="post-line"></div>

  {% if page.carousel %}
  <div class="flexslider">
    <ul class="slides">
      {% for slides in page.carousel %}
      <li>
        <img src="{{ slides.image }}">
      </li>
      {% endfor %}
    </ul>
  </div>
  {% endif %}

  {{ content }}
  <br />
  <br />
  {% include disqus.html %}

</div>

<div class="pagination">
  {% if page.next.url %}
    <a href="{{ page.next.url | prepend: site.baseurl }}" class="left arrow">&#8592;&nbsp;&nbsp;{{ page.next.title }}</a>
  {% endif %}
  {% if page.previous.url %}
    <a href="{{ page.previous.url | prepend: site.baseurl }}" class="right arrow">{{ page.previous.title }}&nbsp;&nbsp;&#8594;</a>
  {% endif %}

  <a href="#" class="top">Top</a>
</div>
