---
layout: default
comments: true
---

<div class="post">
  <div class="post-info">
    <!-- <span>Written by</span>
    {% if page.author %}
        {{ page.author }}
    {% else %}
        {{ site.author.name }}
    {% endif %} -->

    {% if page.date %}
      <!-- <br> -->
      <!-- <span>on&nbsp;</span> -->
      {% if page.categories[0] == "opinion" %}
      기고
      {% elsif page.categories[0] == "thought" %}
      이우일의 생각
      {% elsif page.categories[0] == "commitment" %}
      공약
      {% elsif page.categories[0] == "video" %}
      비디오
      {% endif %} &middot;
      <time datetime="{{ page.date }}">{{ page.date | date: "%B %d, %Y" }}</time>
    {% endif %}
  </div>

  <h1 class="post-title">{{ page.title }}</h1>
  <div class="post-line"></div>

  {{ content }}
  {% include disqus.html %}

</div>

<div class="pagination">
  {% if page.next.url %}
    <a href="{{ page.next.url | prepend: site.baseurl }}" class="left arrow">&#8592;&nbsp;&nbsp;{{ page.next.title }}</a>
  {% endif %}
  {% if page.previous.url %}
    <a href="{{ page.previous.url | prepend: site.baseurl }}" class="right arrow">{{ page.previous.title }}&nbsp;&nbsp;&#8594;</a>
  {% endif %}

  <a href="#" class="top">Top</a>
</div>
